body,
div,
aside,
section {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}

.w-48 {
  width: 192px;
}

.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}

.bg-slate-50 {
  background-color: rgb(248 250 252);
}

.vditor-toolbar {
  padding-left: 10px!important;
}
.vditor-preview {
  background-color: white;
}